*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;      //自訂內距
    font-family: "微軟正黑體";
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding: 20px;
    .box{
        background: rgb(241, 239, 239);
        padding: 20px 15px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

        h2, h3, h4 {
            padding: 5px;
        }
    }
}